.navbar {
	display: flex;
	align-items: center;
	gap: 16px;
	background-color: orange;
	padding: 12px;
}
.navbar a,

.nav-logo {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.nav-logo img {
	width 28px;
	height: 28px;
	display: block;
}

ul {
	position: fixed;
	list-style-type: none;
	left: 0;
	top: 52px;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	overflow-y: auto
}

li a {
	display: block;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	font-size: 16px;
}

li a:hover {
	background-color: #555555;
	color: white;
}

li:hover {
	background-color: #555555;
	color: white;
}

.drop-button{
	color: black;
	text-decoration: none;
	background: none;
	padding: 8px 16px;
	border: none;
	font-size: 16px;
}

.dropdown{
	position: relative;
}

.drop-menu {
	align-items: center;
	display: none;
	position: absolute;
	z-index: 10;
	background-color: #333;
	border: 1px solid black;
}

.drop-menu a {
	display: block;
	padding: 0;
}

.dropdown:hover > .drop-menu {
	display: block;
}

.navbar > .dropdown > .drop-menu {
	top: 100%;
	left: 0;
}

.drop-menu .dropdown > .drop-menu {
	top: 0;
	left: 100%;
}
