/*Navbar start*/
.navbar {
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 16px;
	background-color: orange;
	padding: 12px;
}
.navbar a {
	color: white;
	text-decoration: none;
}

.nav-logo {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.nav-logo img {
	width 28px;
	height: 28px;
	display: block;
}
/*Navbar end*/

/*Sidebar start*/
.sidebar {
	white-space: normal;
	overflow-wrap: break-word;
	word-wrap: break-word;
	position: fixed;
	top: 52px;
	width: 200px;
	height: 100vh;
	overflow-y: auto;
	box-sizing: border-box;
}

.sidebar ul{
	background-color: #f1f1f1;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-children {
	padding-left: 5px !important;
}

.sidebar-folder {
	width: 100%;
	padding: 8px;
	border: none;
	background: none;
	text-align: left;
	font-size: 16px;
	cursor: pointer;
}

.sidebar-folder:hover {
	background: #ddd;
}

.sidebar-folder::before {
	content: "->";
	display: inline-block;
	font-size: 10px;
}

.sidebar-folder.open::before {
	transform: rotate(90deg);
}

.sidebar-page {
	display: block;
	padding: 8px;
	text-decoration: none;
}

.sidebar-page:hover {
	background: #ddd;
}

/*Sidebar end*/
