body {
	background-color: #202020;
	color: white;
	margin: 0;
}

h1, h2 {
	color: white;
	padding: 20px;
	margin-left: 250px;
}

p {
	color: white;
	padding: 20px;
	margin-left: 250px;
}

a {
	color : white;
	text-decoration: none;
}
