body {
	background-color: #202020;
	color: white;
	margin: 0;
}

main {
	color: white;
	padding: 20px;
	margin-left: 250px;
	
}

.indent{
	padding-left: 40px;
}

.list {
	list-style-type: none;
	padding-left: 40px;
}

p {
	padding-left: 20px;
}
